=form_tag sessions_path do
  %p
    = email_field_tag :email, params[:email], :class => 'medium', :placeholder => 'e-mail'
    = password_field_tag :password, nil, :class => 'medium', :placeholder => 'password'
    = submit_tag "Log in", :class => 'btn success'
= button_to "Register", {:controller => "users", :action => "new"}, :method => :get, :class => 'btn danger'
